<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="pingback" href="{{ site.pingback_url }}" />

    <meta name="description" content="{{ site.description }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="{{ site.theme.link }}/manifest.json" />
    <meta name="apple-mobile-web-app-title" content="Curriculum-vitae" />
    <meta name="application-name" content="Curriculum-vitae" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#f1f1f1" />
    <meta name="referrer" content="origin" />


    <style>
        [x-cloak] { display: none; }
    </style>
    {{function('wp_head')}}
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="{{body_class}}" data-template="base.twig">
  <header class="site-header">
      {% include 'header.twig' %}
  </header>
  <main class="site-main">
    {% block content %}
    Sorry, no content
    {% endblock %}
  </main>
  <footer class="site-footer">
    {% block footer %}
        {% include 'footer.twig' %}
        {{ function('wp_footer') }}
    {% endblock %}
    </footer>
</body>
</html>
