{#
  Objectifs de la page single-project

  Montrer le projet dans son contexte (quoi, pourquoi, pour qui).
  Démontrer tes compétences techniques (stack, outils, méthodologie).
  Mettre en avant ton processus de réflexion (problème → solution).
  Faciliter la navigation (retour au CV, liens utiles).
  Créer un impact visuel et professionnel.

  Ton CV en action. Elle doit raconter une histoire : le problème → ta solution → ce que tu as appris → ce que tu proposes.

  En tant que junior, l'accent mis sur ton apprentissage et ta réflexion vaut plus que la perfection du projet. Sois honnête, clair, et montre ta passion !

#}

{% extends 'base.twig' %}

{% block content %}
  <div class="grid grid-cols-1 gap-6 wp-container lg:grid-cols-2">

    <article class="o-8">

      <section class="pb-8 mb-4 border-b border-gray-300 hero">
        <h1 class="flex items-center gap-4">
          <img src="{{ post.thumbnail.src|resize(80) }}" alt="{{ post.thumbnail.alt }}" />
          {{ post.title }}
        </h1>
        <h2>
          Adobe Campaign Classic developer
        </h2>
        <div class="project-tech">
          {% for item in post.technologie %}
            <span class="pl-1e">
              <i class="fas fa-code"></i>
              {{ item.name }}
            </span>
          {% endfor %}
        </div>
      </section>

      <section class="pb-8 mb-4 border-b border-gray-300 overview o-2">
        <h2>
          Description du projet
        </h2>
        <div class="text-lg leading-relaxed prose">
          {{ post.description|raw }}
        </div>
      </section>

      <section class="pb-8 mb-4 border-b border-gray-300 learnings o-2">
        <h2>
          Ce que j'ai acquis
        </h2>
        <div class="text-lg leading-relaxed prose">
          {{ post.learned }}
        </div>
      </section>
      <div class=" btn-group">
        <a href="https://taskify-demo.vercel.app" class="btn btn-primary">
          SITE
        </a>
        <a href="https://github.com/tonpseudo/taskify" class="btn btn-primary">
          GITHUB
        </a>
      </div>
    </article>

    <aside class="my-16 lg:my-0">
      <section class="gallery">
        {# Slider d'images avec Glide.js #}
        {% include "./partial/slider-project.twig" %}
      </section>
    </aside>
  </div>
{% endblock %}
