
{#
Objectifs de la page single-project

    Montrer le projet dans son contexte (quoi, pourquoi, pour qui).
    Démontrer tes compétences techniques (stack, outils, méthodologie).
    Mettre en avant ton processus de réflexion (problème → solution).
    Faciliter la navigation (retour au CV, liens utiles).
    Créer un impact visuel et professionnel.

#}
{% extends "base.twig" %}

{% block content %}
<article class="single-project">
<header class="navigation">
  <a href="{{ site.link }}" class="btn btn-primary">← Retour au portfolio</a>
</header>
<section class="hero">
  <h1>    {{post.title}}</h1>
  <p>Gestionnaire de tâches collaboratif — Projet personnel</p>
  <img src="{{ post.thumbnail.src|resize(80) }}" alt="{{ post.thumbnail.alt }}">
  <div class="project-tech">
  {% for item in post.technologie %}
    <span class="pl-1 tech-badge">
      <i class="fas fa-code"></i>
      {{ item.name }}
    </span>
  {% endfor %}
</div>
  <p>
  Posted by {{ post.author.name }} <span>&bull;</span>
  <time
  datetime="{{ post.date('Y-m-d H:i:s') }}"
  >{{ post.date }}</time>
  <p>
</section>

<section class="overview">
  <h2>À propos</h2>
  <p>{{ post.description }}</p>
</section>

<section class="tech-stack">
{# TODO #}
  <h2>Technologies utilisées</h2>
  <ul>
    <li>Frontend : React, TailwindCSS</li>
    <li>Backend : SQL</li>
    <li>Outils : Figma, Git, Composer</li>
  </ul>
</section>

<section class="gallery">

  <h2>Démonstration</h2>
  {# <img src="screenshot1.png" alt="Interface desktop">
  <img src="screenshot2.png" alt="Interface mobile"> #}

{% for image in post.meta('screenshot') %}
    <img src="{{ image }}" />
{% endfor %}
  <hr>
  <a href="https://taskify-demo.vercel.app" class="btn">Voir la démo</a>
  <a href="https://github.com/tonpseudo/taskify" class="btn">Voir le code</a>

</section>

<section class="learnings">
  <h2>Ce que j’ai appris</h2>
  {{ post.learned }}
</section>





</article>
{% endblock %}

