{# CARD USE CASE #}
<div class="w-full p-4  card rounded-lg  hover:scale-[1.02] transition-transform duration-200 ease-in-out bg-stone-100">

  <div class=" card-content">
    <div class="flex items-center gap-1 md:gap-4">
      {# <img src="{{ project.thumbnail.src|resize(60) }}" alt="{{ project.thumbnail.alt }}"> #}
        <h4 class="project-title">
          {{ project.title }}
          <span class="block text-sm font-normal tracking-normal text-gray-500">
            {{ project.project_type }}
          </span>
        </h4>
      </div>

      <div class="mt-2 text-sm line-clamp-3">
        {{ project.description }}
      </div>

      <div class="flex flex-col items-baseline gap-1 mt-2 font-mono text-sm text-gray-500 project-details">
        {# ! Métadonnées du projet #}
        {# Durée du projet #}
          {% if project.duration %}
            <div class="project-duration"> <i class="fas fa-clock"></i>
            {{ project.duration }}
          </div>
        {% endif %}

        <div class="project-tech">
          <i class="fas fa-code"></i>
          {% for item in project.technologie %}
            <span class="inline-block px-2 py-1 text-xs font-medium text-gray-800 rounded-full bg-gray-50 tech-badge">
              {{ item.name }}
            </span>
          {% endfor %}
        </div>
        {# ! Métadonnées du projet #}
        <div class="project-meta">
          {% if project.team_size %}
            <i class="fas fa-users"></i>
            <span class="project-team">
              {% if project.team_size == 1 %}
                Projet solo
              {% else %}
                Équipe de
                {{ project.team_size }}
              {% endif %}
            </span>
          {% endif %}
        </div>
      </div>

      <div class="mt-4">
        <a href="{{ project.link }}" class=" btn btn-primary">
          plus d'info
        </a>
      </div>
    </div>

  </div>
