{# CARD USE CASE #}
  <div class="w-full p-4 border-b-2 card">
    <div class="card-header">
      <h4 class="project-title">
        {{ project.title }}
      </h4>
    </div>
    <div class=" card-content">
      {# ! Technologies utilisées #}
      <div class="flex items-center gap-4">
        <img src="{{ project.thumbnail.src|resize(80) }}" alt="{{ project.thumbnail.alt }}">
          <h4>
            {{ child.brand_name }}
          </h4>
        </div>
        <div class="prose project-description line-clamp-3 text-pretty">
          {{ project.description }}
        </div>
        <div class="flex items-baseline gap-4 o-4">
          {% if project.duration %}
            <span class="project-duration">
              <i class="fas fa-clock"></i>
              {{ project.duration }}
            </span>
          {% endif %}
          <div class="project-tech">
            {% for item in project.technologie %}
              <span class="pl-1 tech-badge">
                <i class="fas fa-code"></i>
                {{ item.name }}
              </span>
            {% endfor %}
          </div>
          {# ! Métadonnées du projet #}
          <div class="project-meta">
            {% if project.team_size %}
              <span class="project-team">
                <i class="fas fa-users"></i>
                {% if project.team_size == 1 %}
                  Projet solo
                {% else %}
                  Équipe de
                  {{ project.team_size }}
                {% endif %}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="card-footer">
          <a href="{{ project.link }}" class="mt-4 btn btn-primary">
            plus d'info
          </a>
        </div>
      </div>
    </div>
