{# gallery qui se trouve dans la page single-project.twig #}
<div class="grid grid-cols-1 gap-6 md:grid-cols-2">

{% set featured = Image(post.meta('screenshot')) %}

  {% for image in featured %}

    <a href="{{ image.src }}" class="p-4 transition-colors js-smartPhoto hover:bg-secondary-100 bg-secondary-50" data-caption="{{ post.title }}" data-id="photo-{{ loop.index }}" />
      <picture>
        <source srcset="{{ image.src|towebp }}" width="{{ image.width }}" type="image/webp" />
        <source srcset="{{ image.src|tojpg }}" width="{{ image.width }}" type="image/jpeg " />
        <img src="{{ image.src|tojpg }}" width="{{ image.width }}" alt="{{ post.title }}" />
      </picture>
      <span class="inline-block my-4 text-sm text-primary-800">
        {{ image.title }}
      </span>
    </a>

{% endfor %}
</div>
{% block footer %}
  <script>
    window.addEventListener('DOMContentLoaded',function(){
      new SmartPhoto(".js-smartPhoto");
    });
  </script>
{% endblock %}
